.navbarDiv  {
    width: 100%;
    text-align: center;
}

.navbarItem {
    color: #1D3453;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Montserrat';
}

.navbarItem:active {
    color: #000000;
}